<div id="home-search-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="widget pull-right">
                    <div class="row">
                      <div class="span12 head-container">
                        <div class="row">
                            <div class="span8 hidden-phone">
                                <h2 class="head-title">Welcome to RoomHunter</h2>
                                <p class="head-message"><strong>Bạn cần tìm phòng trọ? Đã có RoomHunter!</strong><br />
                                Đây là trang web giúp bạn dễ dàng tìm phòng trọ ở bất cứ đâu tại Hà Nội.</p>
                                <a class="btn btn-large btn-realto span3 header-cta" href="#" title="Start">Bắt đầu thôi!</a>
                            </div>
                            <div class="span4">
                                <div class="search-form">
                                    <p>Find your new home</p>
                                    <form action="#" class="row-fluid" method="post">
                                        <select class="span12 select" name="type">
                                        </select>
                                        <select class="span12 select" name="type">
                                        </select>
                                        <select class="span6 select pull-left" name="beds">
                                        </select>
                                        <select class="span6 select pull-right" name="baths">
                                        </select>
                                        <select class="span12 select clearfix" name="status">
                                        </select>
                                        <select class="span6 select pull-left" name="price-from">
                                        </select>
                                        <select class="span6 select pull-right" name="price-to">
                                        </select>
                                        <div class="clearfix">
                                            <button class="btn pull-right span6 btn-realto-form btn-large" type="submit">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- .search-form -->
                            </div>
                            <!-- .span4 -->
                        </div>
                    </div>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .search-holder -->
            </div>
            <!-- .span12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- .home-search -->
<div id="latest-properties">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="secion-title">Properties</h2>
      </div>
    </div>

    <!-- Begin Carousel -->
    <div class="row">
        <div id="realto-carousel" class="carousel slide span12">
          <div class="carousel-navigation pull-right">
            <a class="serif italic pull-left view-all-carousel" href="#">View all</a>
            <a class="left carousel-control pull-left" href="#realto-carousel" data-slide="prev">‹</a>
            <a class="right carousel-control pull-right" href="#realto-carousel" data-slide="next">›</a>
          </div>
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">
                        <li class="span4 box-container">
                          <div class="holder">
                                <a class="overlay" title="property title" href="#">
                                  <span class="more"></span>
                                  <img alt="image" src="/images/01.jpg" class="media-object">
                                </a>
                                <span class="prop-tag">For Sale</span>
                                <div class="prop-info">
                                    <h3 class="prop-title">379 Michigan Avenue New York 33139 NY</h3>
                                    <ul class="more-info clearfix">
                                        <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                        <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="span4 box-container">
                          <div class="holder">
                                <a class="overlay" title="property title" href="#">
                                  <span class="more"></span>
                                  <img alt="image" src="/images/02.jpg" class="media-object">
                                </a>
                                <span class="prop-tag">For Rent</span>
                                <div class="prop-info">
                                    <h3 class="prop-title">8745 Annox Avenue Orlando 33139 FL</h3>
                                    <ul class="more-info clearfix">
                                        <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                        <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="span4 box-container">
                          <div class="holder">
                                <a class="overlay" title="property title" href="#">
                                  <span class="more"></span>
                                  <img alt="image" src="/images/03.jpg" class="media-object">
                                </a>
                                <span class="prop-tag">For Sale</span>
                                <div class="prop-info">
                                    <h3 class="prop-title">1630 Washington Avenue Miami Beach 33139 FL</h3>
                                    <ul class="more-info clearfix">
                                        <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                        <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- .item -->
                <div class="item">
                  <ul class="thumbnails">
                      <li class="span4 box-container">
                        <div class="holder">
                              <a class="overlay" title="property title" href="#">
                                <span class="more"></span>
                                <img alt="image" src="/images/04.jpg" class="media-object">
                              </a>
                              <span class="prop-tag">For Rent</span>
                              <div class="prop-info">
                                  <h3 class="prop-title">1290 Collins Avenue Miami Beach 33139 FL</h3>
                                  <ul class="more-info clearfix">
                                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                      <li class="span4 box-container">
                        <div class="holder">
                              <a class="overlay" title="property title" href="#">
                                <span class="more"></span>
                                <img alt="image" src="/images/06.jpg" class="media-object">
                              </a>
                              <span class="prop-tag">For Sale</span>
                              <div class="prop-info">
                                  <h3 class="prop-title">6253 Jefferson Avenue Los Angeles 33139 CA</h3>
                                  <ul class="more-info clearfix">
                                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                      <li class="span4 box-container">
                        <div class="holder">
                              <a class="overlay" title="property title" href="#">
                                <span class="more"></span>
                                <img alt="image" src="/images/07.jpg" class="media-object">
                              </a>
                              <span class="prop-tag">For Rent</span>
                              <div class="prop-info">
                                  <h3 class="prop-title">7654 West Avenue Miami Beach 33139 FL</h3>
                                  <ul class="more-info clearfix">
                                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                                  </ul>
                              </div>
                          </div>
                      </li>
                  </ul>
                </div><!-- .item -->

            </div><!-- .carousel-inner -->
        </div>
    </div><!--End Carousel-->

  </div><!-- .container  -->
</div><!-- #latest-properties  -->

<!-- begin footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="footer-widget">
                    <h2 class="brand widget-title">RoomHunter</h2>
                    <p class="footer-tag-line">Tìm nhà nhanh như cách người yêu bỏ bạn</p>
                </div>
                <!-- .footer-company-info -->
            </div>
            <!-- .span3 -->

        </div>
    </div>
</footer>

<!-- end footer -->
